.App {
  
}

.App-header {
  background-color: #282c34;
  background-image: url("images/background.jpg.webp");
  background-size: cover;
  background-position-y: center;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
}

.App-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: 'Hylia';
}

.Recipe-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px 20px;
}

.Meal-item {
  background-color: #99c07b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
  width: 40vmin;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Filter-display-row {
  display: flex;
  flex-direction: row;
  padding: 0em 1em 1em 1em;
}

.Filter-display-col {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 0em 1em;
}

.description {
  display: inline;
  font-size: calc(2vmin);
  color: rgb(255, 255, 255);
}

.dark-green {
  background-color: #89ad6e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
  width: 40vmin;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}

.label {
  font-size: calc(5px + 2vmin);
}

.sub-header {
  font-size: calc(5px + 2vmin);
  font-family: "Hylia";
  margin: 0%;
}

.center {
  text-align: center;
}

.right-align {
  text-align: end;
}

.small-font {
  font-size: calc(2vmin);
  padding-right: 10px;
}

.inline {
  display: inline;
  float: left;
  white-space: nowrap;
}

.image {
  height: 20vmin;
}

.icon {
  height: calc(2vmin);
}

.icon-2 {
  height: calc(10px + 2vmin);
}

.button {
  background-color: #345a40;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: 'Hylia';
  font-size: calc(2vmin);
  margin: 1vmin;
}

.button-2 {
  background: rgb(255, 255, 255);
  color: rgb(224, 195, 195);
  border-style: hidden;
  border-radius: 6px;
  font-family: 'Hylia';
  font-size: calc(2vmin);
  font-weight: bold;
}
.button-2:hover {
  color: rgb(212, 45, 45);
}

.button-3 {
  background: rgb(203, 83, 83);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: 'Hylia';
  font-size: calc(1vmin);
  font-weight: bold;
}

.button-4 {
  background-color: #345a40;
  color: #ffffff;
  width: 90%;
  border-radius: 6px;
  margin: 3vmin 0vmin 1vmin 0vmin;
  font-family: 'Hylia';
  font-size: calc(2vmin);
}

.button-5 {
  background-color: #345a40;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: 'Hylia';
  font-size: calc(3px + 1vmin);
  font-weight: bold;
  margin-right: 2vmin;
}

@font-face {
  font-family: "Hylia";
  src: local('HyliaSerifBeta-Regular'),
    url("./fonts/HyliaSerifBeta-Regular.otf") format('truetype');
}