.App {
  
}

.center {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url("images/background.jpg.webp");
  background-size: cover;
  background-position-y: center;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
}

.App-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: 'Hylia';
}

.Recipe-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px 20px;
}

.Meal-item {
  background-color: #99c07b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
  width: 40vmin;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Filter-display {
  
}

.description {
  display: inline;
  font-size: calc(2vmin);
  color: rgb(255, 255, 255);
}

.label {
  font-size: calc(5px + 2vmin);
}

.dark-green {
  background-color: #89ad6e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
  width: 40vmin;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

@font-face {
  font-family: "Hylia";
  src: local('HyliaSerifBeta-Regular'),
    url("./fonts/HyliaSerifBeta-Regular.otf") format('truetype');
}