.App {
  
}

.App-header {
  background-color: #282c34;
  background-image: url("images/background.jpg.webp");
  background-size: cover;
  background-position-y: center;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
}

.App-body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: 'Hylia';
}

.Recipe-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px 20px;
}

.Meal-item {
  background-color: #99c07b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
  width: 40vmin;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.Filter-display {
  display: flex;
  padding: 1em;
}

.Cart {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  border-style: solid;
  width: 25%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
}

.description {
  display: inline;
  font-size: calc(2vmin);
  color: rgb(255, 255, 255);
}

.dark-green {
  background-color: #89ad6e;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-family: 'Hylia';
  width: 40vmin;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}

.add-items {
  background-color: #89ad6e;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.label {
  font-size: calc(5px + 2vmin);
}

.center {
  text-align: center;
}

.right-align {
  text-align: end;
}

.small-font {
  font-size: calc(2vmin);
  padding-right: 10px;
}

.inline {
  display: inline;
  float: left;
  white-space: nowrap;
}

.image {
  height: 20vmin;
}

.icon {
  height: calc(2vmin);
}

.icon-2 {
  height: calc(10px + 2vmin);
}

.button {
  background-color: #345a40;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: 'Hylia';
  font-size: calc(2vmin);
  margin: 1vmin;
}

@font-face {
  font-family: "Hylia";
  src: local('HyliaSerifBeta-Regular'),
    url("./fonts/HyliaSerifBeta-Regular.otf") format('truetype');
}